* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER SECTION */

.navbar {
  background-color: #212332;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .navbar-toggle {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
}

.navbar .logo img {
  max-width: 70px;
  padding: 15px;
}

.navbar .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.nav-link,
.nav-btn {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 33px 30px;
  display: block;
  transition: 0.3s;
}

.nav-btn {
  font-weight: bold;
}

.nav-link {
  border-bottom: 1px solid rgb(77, 77, 77);
}

.nav-link.active {
  border-bottom: 1px solid #0085ff;
  font-weight: bold;
}

.dropdown-menu .active {
  border-right: 1px solid #0085ff;
  font-weight: bold;
}

.nav-btn {
  margin-left: 5px;
  margin-top: 0px;
}

.nav-btn:hover {
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 1px solid #0085ff;
}

.nav-btn {
  padding: 10px;
  width: 150px;
  background-image: linear-gradient(to right, #0085ff, #ec77ff);
  border-radius: 10%/50%;
  text-align: center;
}

.nav-link:hover {
  background-color: #61688f;
  border-bottom: 1px solid #0085ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 30px 55px;
  display: block;
  transition: 0.3s;
  z-index: 999;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #212332;
  color: white;
  border-right: 1px solid rgb(77, 77, 77);
  z-index: 999;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background-color: #61688f;
  border-right: 1px solid #0085ff;
}

body {
  background-image: url("./../Assets/pre-register/register_bg_purp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input:focus,
button:focus {
  outline: none;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title {
  margin-top: 70px;
}

.title h1,
.title p {
  margin-top: 12px;
  color: white;
  text-align: center;
}

.title h1 {
  font-size: 40px;
}
.title p {
  font-size: 15px;
}

.form-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container .label {
  color: white;
  font-size: 15px;
  padding: 10px 30px;
}

.input-container .input input,
select {
  border: 3px solid transparent;
  border-radius: 34px;
  padding: 15px 30px 15px 30px;
  width: 400px;
  font-size: 16px;
}

select:focus {
  outline: none;
}

.input-container .input :focus::placeholder {
  color: blueviolet;
}

.agreement {
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

#agreement {
  margin-right: 8px;
}

.btn-container {
  margin-top: 55px;
  margin-bottom: 75px;
}

#form-submit-btn {
  border: none;
  border-radius: 34px;
  padding: 14px 58px;
  background-color: dodgerblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#form-submit-btn:hover {
  opacity: 0.8;
}

.error-msg {
  color: orange;
  padding: 10px 30px;
  font-size: 14px;
}

.modal-container {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 8% auto;
  padding: 10px 35px;
  border-radius: 34px;
  width: 270px;
  height: 380px;
}

.modal-icon {
  margin: 30px;
}

.modal-icon img {
  width: 130px;
}

.modal-msg {
  text-align: center;
  margin-bottom: 44px;
}

.modal-msg h2 {
  font-size: 24px;
}

.modal-msg p {
  font-size: 12px;
}

.modal-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.modal-btn {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin-right: 14px;
  background-color: dodgerblue;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.home-btn {
  background-color: transparent;
  color: dodgerblue;
  border: 1.3px solid dodgerblue;
}

.home-btn:hover {
  border: 1.3px solid blue;
  color: blue;
}

.close-btn:hover {
  opacity: 0.6;
}

.footer {
  padding: 100px;
  background-color: #2a2d3e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .title {
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 30px;
}

.vl {
  border-left: 2px solid white;
  height: 200px;
}

.hl {
  border-bottom: 2px solid white;
  width: 100%;
  height: 30px;
  display: none;
}

.footer .footer-logo {
  padding-bottom: 50px;
}

.footer .footer-logo img {
  max-width: 100px;
}

.footer .social,
.footer .contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .quick-links {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer .quick-links .links .link-item {
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer .quick-links .links .link-item:hover {
  opacity: 0.6;
}

.footer .quick-links .title {
  margin-bottom: 30px;
}

.footer .social .social-media {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.youtube,
.twitter,
.instagram,
.facebook {
  transition: 0.3s;
}

.youtube:hover,
.twitter:hover,
.instagram:hover,
.facebook:hover {
  opacity: 0.7;
}

.footer .contact-us .email input[type="text"],
textarea {
  width: 300px;
  padding: 12px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  resize: none;
  outline: none;
  border-radius: 5%/30%;
  background-color: #212332;
  color: white;
}

.footer .contact-us .footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer .contact-us .footer-btn input[type="submit"] {
  height: 30px;
  width: 100px;
  font-weight: bold;
  background-color: #0085ff;
  border-radius: 10%/30%;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.footer .contact-us .footer-btn input[type="submit"]:hover {
  opacity: 0.6;
}

/* responsive */

@media only screen and (max-width: 1100px) {
  /* FOOTER SECTION */

  .footer {
    padding: 50px;
  }

  .footer .title {
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .footer .footer-logo img {
    max-width: 75px;
  }

  .footer .social .social-media {
    width: 150px;
  }

  .youtube img,
  .twitter img,
  .instagram img,
  .facebook img {
    max-width: 25px;
  }

  .quick-links .links {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 900px) {
  /* HEADER SECTION */
  .navbar .navbar-toggle {
    display: flex;
    cursor: pointer;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar .nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  .dropdown {
    display: block;
  }

  .dropdown:hover .dropdown-menu {
    display: none;
  }

  .nav-btn {
    border-radius: 0/0;
    width: auto;
    margin-left: 0;
  }

  .dropdown .dropdown-menu {
    position: relative;
  }

  /* FOOTER SECTION */
  .footer {
    padding: 50px;
  }

  .footer .title {
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .footer .footer-logo img {
    max-width: 75px;
  }

  .footer .social .social-media {
    width: 150px;
  }

  .youtube img,
  .twitter img,
  .instagram img,
  .facebook img {
    max-width: 25px;
  }

  .quick-links .links {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 750px) {
  /* FOOTER SECTION */

  .footer {
    display: block;
    text-align: center;
  }
  .quick-links {
    margin-top: 20px;
  }

  .contact-us {
    margin-top: 20px;
  }

  .vl {
    display: none;
  }

  .hl {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .title h1 {
    font-size: 30px;
  }
  .title p {
    font-size: 10px;
  }
  .input-container .label {
    color: white;
    font-size: 10px;
    padding: 10px 30px;
  }
  .input-container .input input,
  select {
    border: 3px solid transparent;
    border-radius: 34px;
    padding: 15px 30px 15px 30px;
    width: 280px;
    font-size: 14px;
  }
  #form-submit-btn {
    border: none;
    border-radius: 34px;
    padding: 10px 50px;
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  .error-msg {
    font-size: 12px;
  }
  .agreement {
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .input-container .label {
    color: white;
    font-size: 12px;
    padding: 10px 20px;
  }
  .input-container .input input,
  select {
    border: 3px solid transparent;
    border-radius: 34px;
    padding: 10px 20px 10px 20px;
    width: 200px;
    font-size: 14px;
  }
  #form-submit-btn {
    border: none;
    border-radius: 34px;
    padding: 10px 50px;
    background-color: dodgerblue;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }

  .modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 30% auto;
    padding: 10px 35px;
    border-radius: 34px;
    width: 170px;
    height: 300px;
  }

  .modal-icon img {
    width: 90px;
  }

  .modal-msg {
    text-align: center;
    margin-bottom: 44px;
  }

  .modal-msg h2 {
    font-size: 16px;
  }

  .modal-msg p {
    font-size: 8px;
  }

  .modal-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    margin-right: 10px;
    background-color: dodgerblue;
    color: white;
    font-size: 8px;
  }

  .home-btn {
    background-color: transparent;
    color: dodgerblue;
    border: 1px solid dodgerblue;
  }
}
